@font-face {
  font-family: "Bebas Neue";
  src: url(https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Bold.ttf) format("truetype");
}

body {
  background-color: #232114;
  color: white;
  font-family: "Bebas Neue", Impact, serif;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: #f26419;
  text-transform: capitalize;
}

.bg-orange {
  background-color: #f26419;
}

.bg-green {
  background-color: #89b6a5;
}

body {
    overflow-x: hidden;
}

.fillParent {
  height: 100%;
  min-width: 100%;
}

h5 {
  color: #89b6a5;
}

.above {
  z-index: 700;
}

.gradient-darkDown {
  background-image: linear-gradient(#f8f9fa, #222014);
}

.gradient-darkUp {
  background-image: linear-gradient(#222014, #f8f9fa);
}

.gradient-centerDark {
  background-image: linear-gradient(#f8f9fa, black, #f8f9fa);
}

.noMarginBottom {
  margin-bottom: 0px;
}

.flipH {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.titleMargin {
  margin-top: 5vh;
}

.borderRadius {
  border-radius: 10%;
}

.marginTop {
  margin-top: 10vh;
}

.text-black {
  color: black;
}

.page {
  height: 100vh;
}

.centerVertically {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerHorizontally {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.flexStartCol {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  opacity: 0;
}

.details {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.padding-5 {
  padding: 5;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.margin-20 {
  margin: 20px;
}

.banner {
  width: 100vw;
}

.banner img {
  width: 100%;
}

.flexEndCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flexEndRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dipTop {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 10vh;
  width: 100vw;

  /*z-index: -10;*/

  -webkit-clip-path: polygon(0% 0, 100% 80%, 100% 100%, 0 100%);
  clip-path: polygon(0% 0, 100% 80%, 100% 100%, 0 100%);

  position: relative;
  bottom: -0.5px;
}

.dipBottom {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 10vh;
  width: 100vw;

  /*z-index: -1;*/

  -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0% 0, 100% 0%, 100% 20%, 0 100%);

  position: relative;
  top: -0.5px;
}

.text-container {
  margin: 10px;
}

/* -------------- */

#menu {
  position: fixed;
  margin-top: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
  right: 0px;
  margin-bottom: 2vh;
  z-index: 900;
  height: 100vh;
  padding-bottom: 2vh;
}

#memnu .button img {
}

#menu .button {
    position: relative;
    z-index: 999;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-style: solid;
  border-color: #f26419;
  border-width: 2px;
}


#menu .line {
    z-index: 89;
opacity: 0;
  height: 85vh;
  width: 2px;
}

#menu .items {

  position: absolute;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 85vh;
  margin-right: 3vw;
  margin-left: 3vw;

  right: 1vw;
  z-index: 99;
}

#menu .items a {
    opacity: 0;
    text-decoration: none;
}

#menu .items div {

  padding: 5px;
  border-radius: 5px;
  background-color: #f26419;
  height: 32px;
  white-space: nowrap;
  display: inline-block;
  float: right;

  color: white;
}

/* --------- */

/* MEDIA QUERY */

@media screen and (max-width: 600px) {
  #bio {
    -webkit-clip-path: polygon(100% 1, 100% 10%, 100% 100%, 1 100%);
    clip-path: polygon(100% 1, 100% 10%, 100% 100%, 1 100%);
  }
}

/* ------- */

/* START SECTION */
#introText {
  position: absolute;
  width: 100%;
  height: 100%;
}

#intro .tony {
  height: 500px;
  width: 400px;
}

#intro .bolt {
  height: 100px;
  width: 90px;
}

#intro .bolt2 {
  height: 100px;
  width: 130px;
}

#intro .cog {
  height: 100px;
  width: 100px;
}

/* ------- */

/* SUIT SECTION */

#suit .mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

#suit .imageContainer {
  height: 50%;
}

#suit img {
  height: 100%;
}

/* BIO SECTION */

#bio {
  margin-top: 10vh;
  /*
    -webkit-clip-path: polygon(0% 0, 100% 20vh, 100% 100%, 0 100%);
    clip-path: polygon(0% 0, 100% 20vh, 100% 100%, 0 100%);
    */
}

.bio_pic {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.bio_pic img {
  width: 100%;
}

/* ------ */

#ironman1 {
  padding-top: 10vh;
  padding-bottom: 2vh;
}


#ironman1 .details {
  margin-top: 5vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#ironman1 .ironmanContainer {
    z-index: 860;
}

#ironman1 .ironman_fullbody {
  position: relative;
  left: 60vw;
  top: -18vh;
  z-index: 99;
}

#ironman1 .ironman_container {
  position: absolute;
}

/* IRON MAn 2 */
#ironman2 {
  margin-top: -11vh;
  margin-bottom: 10vh;
}

#ironman2 .dipBottom {
  position: relative;
  top: 10vh;
  z-index: 1;
}

#ironman2 .dipCover {
  position: relative;
  top: 10vh;
  height: 1px;
}

#ironman2 .banner {
  z-index: -9;
}

#ironman2 img {
  z-index: -2;
}

/*    AVENGERS    */

#avengers .hulk {
  position: relative;
  top: -20vh;
  left: -300px;
}

#avengers .hulk img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#avengers .cap {
  position: relative;
  top: -20vh;
  left: 1000px;
}

/* IRON MAN 3 -- ---  */

#ironman3 {
  margin-top: 10vh;
}

/* ultron ------- */
#ultron {
  padding-top: 5vh;
  padding-bottom: 10vh;

  background-image: url("/img/sokovia.jpg");
  background-position: center;
}

#ultron-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: -1px;
}

#ultron-container .dipTop {
  z-index: 3;
}
#ultron-container .dipBottom {
  z-index: 1;
}

#ultron .ultron {
  position: relative;
  top: -200px;
  z-index: 2;
}

#spiderman {
  margin-top: 0px;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

#spiderman .dipBottom {
  position: relative;
  top: calc(-10vh - 1px);
}

/* ------ */

#civilwar {
  position: relative;
  padding-top: 5vh;
  z-index: 4;
}

/* inifinty war !!!!!! */

#infinitywar {
}

#infinitywar .dipBottom {
  background-color: #222014;
  position: relative;
  top: calc(10vh - 1px);
  z-index: 9;
}

#infinitywar .dipTop {
  background-color: #222014;
  position: relative;
  top: calc(-10vh + 1px);
  z-index: 9;
}

#infinitywar .ironman {
  position: relative;
  margin-left: 70vw;
  left: 50%;
}

#infinitywar .thanos {
  position: relative;
  transform: translateZ(-1px) scale(3);
  margin-right: 40vw;
  top: 60vh;
}

.parallax {
  position: relative;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  /*overflow-y: auto;*/
}

.parallax__layer {
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0%;
}
.parallax__layer--front {
  transform: translateZ(0);
  height: 200vh;
}

.parallax__layer--base {
  transform: translateZ(-2px) scale(3);
}
.parallax__layer--back {
  transform: translateZ(-3px) scale(7);
}

/*

#infinitywar .forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
  }

  #infinitywar .thanos {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
  }
  #infinitywar .forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
  }

  #infinitywar .base-element {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  #infinitywar .background-element {
    -webkit-transform: translateZ(-999px) scale(2);
    transform: translateZ(-999px) scale(2);
    z-index: 3;
  }

  */
